@import "tailwindcss";

@theme {
  --font-heading: "Inter", "sans-serif";
}

@variant dark (&:where(.dark, .dark *));

/* JANGAN kasih background-color apa pun di sini */
@layer base {
  body {
    @apply m-0 p-0 antialiased text-slate-900;
  }
  .dark body {
    @apply text-slate-50;
  }
}

* {
  @apply transition-colors duration-300;
}